<p id="notice"><%= notice %></p>

<div class="container-fluid text-center">
<h2>
  <strong>Name:</strong>
  <%= @amoeba.name %>
</h3>

<h3>
  <strong>Generation:</strong>
  <%= @amoeba.generation %>
</h3>

<h3>
  <strong>Talent:</strong>
  <%= @amoeba.talent.name%>
</h3>

<h3>
  <strong>Act:</strong>
  <%= link_to(@amoeba.act.name, @amoeba.act) %>
</h3>

<div>
<br>
<h2><%= link_to("SPLIT!!", amoeba_split_path) %></h2>
<br>
<br>
</div>

<%= link_to 'Edit', edit_amoeba_path(@amoeba) %> |
<%= link_to 'Back', amoebas_path %>
</div>